@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -5%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
.addPlayerContainer {
  text-align: center; }

#playerh1 {
  color: white;
  font-family: "Oswald", sans-serif;
  padding-top: 3%;
  font-size: 400%;
  text-decoration: underline;
  text-decoration-color: #de2a3f; }

#attackersContainer {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center; }

#attackersRoundsContainer {
  display: flex; }

#attackersCards {
  display: flex; }

.playerCard {
  width: 100%; }

#attackersh2 {
  font-family: "Oswald", sans-serif;
  color: #de2a3f;
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 0; }

#attackersh3 {
  font-family: "Oswald", sans-serif;
  color: #de2a3f;
  font-weight: 700;
  font-size: 150%;
  margin: 0 0 10px 0; }

#attackersRoundsWonInput {
  width: 80px;
  height: 30px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-color: #202935;
  border: 2px #de2a3f solid;
  border-radius: 10%;
  color: #de2a3f; }

.attackerMissing {
  color: #de2a3f;
  font-family: "Oswald", sans-serif;
  font-size: 400%;
  margin-top: 150px; }

#attackerPlayer1 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #de2a3f solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 1s; }
  #attackerPlayer1:hover {
    border-color: white; }
    #attackerPlayer1:hover p {
      color: white; }

#attackerPlayer2 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #de2a3f solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 1.5s; }
  #attackerPlayer2:hover {
    border-color: white; }
    #attackerPlayer2:hover p {
      color: white; }

#attackerPlayer3 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #de2a3f solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 2s; }
  #attackerPlayer3:hover {
    border-color: white; }
    #attackerPlayer3:hover p {
      color: white; }

#attackerPlayer4 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #de2a3f solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 2.5s; }
  #attackerPlayer4:hover {
    border-color: white; }
    #attackerPlayer4:hover p {
      color: white; }

#attackerPlayer5 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #de2a3f solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 3s; }
  #attackerPlayer5:hover {
    border-color: white; }
    #attackerPlayer5:hover p {
      color: white; }

#defendersContainer {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center; }

#defendersCards {
  display: flex; }

#defendersh2 {
  font-family: "Oswald", sans-serif;
  color: #63a4ff;
  font-weight: 700;
  font-size: 250%;
  margin-bottom: 0; }

#defendersh3 {
  font-family: "Oswald", sans-serif;
  color: #63a4ff;
  font-weight: 700;
  font-size: 150%;
  margin: 0 0 10px 0; }

#defendersRoundsWonInput {
  width: 80px;
  height: 30px;
  text-align: center;
  font-family: "Oswald", sans-serif;
  background-color: #202935;
  border: 2px #63a4ff solid;
  border-radius: 10%;
  color: #63a4ff; }

.defenderMissing {
  color: #63a4ff;
  font-family: "Oswald", sans-serif;
  font-size: 400%;
  margin-top: 150px; }

#defenderPlayer1 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #63a4ff solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 1s; }
  #defenderPlayer1:hover {
    border-color: white; }
    #defenderPlayer1:hover p {
      color: white; }

#defenderPlayer2 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #63a4ff solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 1.5s; }
  #defenderPlayer2:hover {
    border-color: white; }
    #defenderPlayer2:hover p {
      color: white; }

#defenderPlayer3 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #63a4ff solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 2s; }
  #defenderPlayer3:hover {
    border-color: white; }
    #defenderPlayer3:hover p {
      color: white; }

#defenderPlayer4 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #63a4ff solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 2.5s; }
  #defenderPlayer4:hover {
    border-color: white; }
    #defenderPlayer4:hover p {
      color: white; }

#defenderPlayer5 {
  width: 250px;
  height: 373px;
  margin: 50px 20px 0 0;
  border: 7px #63a4ff solid;
  border-radius: 2%;
  cursor: pointer;
  animation: fadeIn 1s ease-in both;
  animation-delay: 3s; }
  #defenderPlayer5:hover {
    border-color: white; }
    #defenderPlayer5:hover p {
      color: white; }

.modal {
  background-color: #0c0f1c;
  width: 60%;
  height: 85%;
  margin: auto;
  animation: fadeIn 0.6s ease-in both;
  border: 1px white solid;
  border-radius: 1%;
  margin-top: 50px;
  overflow-y: auto; }

.modal:focus-visible {
  border: none; }

#closeModalButton {
  float: right; }

/*# sourceMappingURL=AddPlayer.css.map */
