$oswald: 'Oswald', sans-serif;
$valoRed: #de2a3f;
$valoBlue: #63a4ff;

@mixin titles($textColor) {
    font-family: $oswald;
    color: $textColor;
    font-weight: 700;
}

@mixin playerCards($borderColor) {
    width: 250px;
    height: 373px;
    margin: 50px 20px 0 0;
    border: 7px $borderColor solid;
    border-radius: 2%;
    cursor: pointer;
    animation: fadeIn 1s ease-in both;
    &:hover {
        border-color: white;
        p {
            color: white;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, -5%, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@mixin roundsInput($borderColor) {
    width: 80px;
    height: 30px;
    text-align: center;
    font-family: $oswald;
    background-color: #202935;
    border: 2px $borderColor solid;
    border-radius: 10%;
    color: $borderColor;
}

@mixin missing($circleColor) {
    color: $circleColor;
    font-family: $oswald;
    font-size: 400%;
    margin-top: 150px;
}

.addPlayerContainer {
	text-align: center;
}

#playerh1 {
    color: white;
    font-family: "Oswald", sans-serif;
    padding-top: 3%;
    font-size: 400%;
    text-decoration: underline;
    text-decoration-color: $valoRed;
}

#attackersContainer {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#attackersRoundsContainer {
    display: flex;
}

#attackersCards {
    display: flex;
}


.playerCard{
    width: 100%;
}

#attackersh2 {
    @include titles($valoRed);
    font-size: 250%;
    margin-bottom: 0;
}

#attackersh3 {
    @include titles($valoRed);
    font-size: 150%;
    margin: 0 0 10px 0;
}

#attackersRoundsWonInput {
    @include roundsInput($valoRed);
}

.attackerMissing {
    @include missing($valoRed);
}


#attackerPlayer1 {
    @include playerCards($valoRed);
    animation-delay: 1s;
}

#attackerPlayer2 {
    @include playerCards($valoRed);
    animation-delay: 1.5s;
}

#attackerPlayer3 {
    @include playerCards($valoRed);
    animation-delay: 2s;
}

#attackerPlayer4 {
    @include playerCards($valoRed);
    animation-delay: 2.5s;
}

#attackerPlayer5 {
    @include playerCards($valoRed);
    animation-delay: 3s;
}

#defendersContainer {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#defendersCards {
    display: flex;
}

#defendersh2 {
    @include titles($valoBlue);
    font-size: 250%;
    margin-bottom: 0;
}

#defendersh3 {
    @include titles($valoBlue);
    font-size: 150%;
    margin: 0 0 10px 0;
}

#defendersRoundsWonInput {
    @include roundsInput($valoBlue);
}

.defenderMissing {
    @include missing($valoBlue);
}

#defenderPlayer1 {
    @include playerCards($valoBlue);
    animation-delay: 1s;
}

#defenderPlayer2 {
    @include playerCards($valoBlue);
    animation-delay: 1.5s;
}

#defenderPlayer3 {
    @include playerCards($valoBlue);
    animation-delay: 2s;
}

#defenderPlayer4 {
    @include playerCards($valoBlue);
    animation-delay: 2.5s;
}

#defenderPlayer5 {
    @include playerCards($valoBlue);
    animation-delay: 3s;
}

.modal {
    background-color: #0c0f1c;
    width: 60%;
    height: 85%;
    margin: auto;
    animation: fadeIn 0.6s ease-in both;
    border: 1px white solid;
    border-radius: 1%;
    margin-top: 50px;
    overflow-y: auto;
}

.modal:focus-visible{
    border: none;
}

#closeModalButton {
    float: right;
}
