#addPlayerh1 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 350%;
  margin-bottom: 0; }

#attackerTypeh2 {
  color: #de2a3f;
  font-family: "Oswald", sans-serif;
  font-size: 450%;
  margin-top: -5px; }

#defenderTypeh2 {
  color: #63a4ff;
  font-family: "Oswald", sans-serif;
  font-size: 450%;
  margin-top: -5px; }

#addPlayerHeader {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

#addPlayerHeaderLeft {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

#addPlayerHeaderRight {
  height: 100%;
  width: 60%; }

#playerNameInput {
  margin-bottom: 10px;
  height: 40px;
  width: 70%;
  margin-left: 10%;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #424242;
  text-align: center;
  margin-top: 60px; }
  #playerNameInput:focus-visible {
    outline: none; }

#playerTagInput {
  margin-bottom: 10px;
  height: 40px;
  width: 70%;
  margin-left: 10%;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  color: #424242;
  text-align: center; }
  #playerTagInput:focus-visible {
    outline: none; }

::placeholder {
  font-family: "Oswald", sans-serif;
  color: #bdbdbd; }

#chooseAgentContainer {
  width: 100%;
  height: 30%;
  display: flex; }

#chooseAgentLeft {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#chooseAgentRight {
  width: 60%;
  height: 100%; }

#selectAgenth2 {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 40px; }

#selectedAgent {
  border: 5px white solid;
  border-radius: 50%;
  width: 55%; }

.agentOptions {
  width: 10%;
  margin: 2px;
  cursor: pointer; }
  .agentOptions:hover {
    background-color: #ffffff3b; }

#chooseRankContainer {
  width: 100%;
  height: 25%;
  display: flex; }

#chooseRankLeft {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

#chooseRankRight {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: flex-start; }

.rankDropdown {
  color: white !important;
  width: 150px;
  margin: 5px 0 0 18px !important;
  font-family: "Oswald", sans-serif !important;
  font-weight: 500 !important; }

.rankPreview {
  width: 40%;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer; }

.rankColumn {
  display: flex;
  height: 80px;
  width: 25%;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column; }

#closeModalButton {
  background-color: #de2a3f;
  height: 50px;
  width: 85%;
  border: none;
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  cursor: pointer; }
  #closeModalButton:hover {
    background-color: #a10b2e; }

.rankImg {
  width: 30%; }

.modalWindow {
  height: 100%; }

#buttonDiv {
  height: 15%;
  width: 60%;
  display: flex;
  float: right;
  align-items: flex-start;
  margin-top: 3%; }

#radiantRank {
  margin-top: 15px; }

h4 {
  font-family: "Oswald", sans-serif !important;
  color: white;
  margin: 0 0 0 15px !important;
  font-weight: 500 !important;
  cursor: pointer; }

/*# sourceMappingURL=ModalContent.css.map */
