$oswald: 'Oswald', sans-serif;
$valoRed: #de2a3f;
$valoBlue: #63a4ff;

#overviewh1 {
	font-family: $oswald !important;
	color: white !important;
	font-size: 400% !important;
}

.viewMatchContainer {
	margin-top: 100px;
}

